*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.output{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.card{
    width: 80%;
    margin:40px 0px;
    display:flex;
    text-align: center;
    flex-direction:column;
    align-items:center;
    position: relative;
}
.card .res-img{
    height: 100%;
}
.from a{
    text-decoration:none;
    color: black;
    position: absolute;
    top: 0px;
    left: 55px;
}
.from{
    position: absolute;
    top: -30px;
    left: 10px;
    width: 100%;
}
.profilepic{
    border-radius:50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
    top: -5px;
}
.tags{
    display: inline;
    position: absolute;
    left: 30px;
    bottom: -25px;
}
.dl-btn{
    position: absolute;
    right: 20px;
    bottom: -25px;
}
.tag{
    font-size: 15px;
    color:#DD3FE9;
    padding: 3px 6px;
    border: 1px solid #CF55D8;
}
